.curser-pointer {
  cursor: pointer;
}

.pre-line-text {
  white-space: pre-line;
}

.flex-row-dir {
  flex-direction: row;
}

.reverse-flex-row {
  flex-direction: row-reverse;
}

.image-withpoints {
  display: flex;
  justify-content: center;
}
