@import "./faq.css";
@import "./pillar.css";

.curser-pointer {
  cursor: pointer;
}

.pre-line-text {
  white-space: pre-line;
}

.flex-row-dir {
  flex-direction: row;
}

.reverse-flex-row {
  flex-direction: row-reverse;
}

.image-withpoints {
  display: flex;
  justify-content: center;
}

.grid-class {
  display: grid;
}

.bread-crumb-cover {
  background-image: url(/images/parallax.jpg);
  background-position: center;
  background-size: cover;
}

.app-links {
  position: relative;
  right: 20px;
}
